EMAIL_FROM='"My Gadget <noreply@mygadget.com>"'
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_URL_ENDPOINT=
JWT_SECRET_KEY=
NODE_ENV=production
OTP_EXPIRE_MINUTES=5
OTP_LENGTH=6
PORT=3000
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password-from-google

# bKash Sandbox (Common Demo)
BKASH_APP_KEY=5M9pS098672P1v2789123456
BKASH_APP_SECRET=25n0pS098672P1v27891234567890123
BKASH_USERNAME=sandboxTestUser
BKASH_PASSWORD=sandboxTestPass@123
BKASH_BASE_URL=https://checkout.sandbox.bka.sh/v1/checkout

# URLs
BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000