IMAGEKIT_PRIVATE_KEY="private_J+l8R7wqOW0eLwjaKiKzxGTndNY="
IMAGEKIT_PUBLIC_KEY="public_OCvj+mC/dzV6jAl4/1ZhOFaSs/A="
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/8t7v7ku24

JWT_ACCESS_KEY=69d54975e38fdc8db435703abb7e655d
JWT_REFRESH_KEY=8f3e1c4e2f4b5a6c7d8e9f0a1b2c3d4e

MONGO_URI=mongodb+srv://havmor:QEqh58mVDK4qskNy@cluster-havmor.o0dwnka.mongodb.net/my-gadget
REDIS_URL=rediss://default:AXsiAAIncDE5ZmQxNWYzMmI0OTc0YWMwOGRiMDgwNzhjOGM0NDE5ZXAxMzE1MjI@pleased-hog-31522.upstash.io:6379

NODE_ENV=production

OTP_EXPIRE_MINUTES=5
OTP_LENGTH=6

EMAIL_FROM='"My Gadget <noreply@gadgetbds.com>"'
EMAIL_USER=mdfarhansadik76@gmail.com
EMAIL_PASS=clql gdgd gujr ikyh

PORT=5000

# SSL
SSLCOMMERZ_STORE_ID=draki695e15d20d798
SSLCOMMERZ_STORE_PASSWORD=draki695e15d20d798@ssl
SSLCOMMERZ_BASE_URL=https://sandbox.sslcommerz.com

SSLCOMMERZ_SUCCESS_URL=http://localhost:5000/api/payment/ssl/success
SSLCOMMERZ_FAIL_URL=http://localhost:5000/api/payment/ssl/fail
SSLCOMMERZ_CANCEL_URL=http://localhost:5000/api/payment/ssl/cancel
SSLCOMMERZ_IPN_URL=http://localhost:5000/api/payment/ssl/ipn

# URLs
BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000